# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.py text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Declare files that should never be normalized.
*.jpg -text
*.png -text
